fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-multipart
sentence-transformers
faiss-cpu
requests
python-dotenv
passlib[bcrypt]
PyJWT
python-docx
PyMuPDF
twilio
streamlit
numpy
python-jose[cryptography]
openai
argon2-cffi
psycopg2-binary








